# Ignore Visual Studio Code settings
.vscode

# Ignore .cosine directory
.cosine

# Ignore App_Data directory
App_Data

# Ignore backup files
backups

# Ignore Excel Classes
Classes

# Ignore vendor from composer
vendor
.cosine
g
# Ignore tmp directory
.php_tmp/
.php_tmp/roles.php
second_config.php
assets/Guida per krijimin e kontrates gjenerale.mp4
assets/Guida per krijimin e kontratës per kenge.mp4
uploads/BareshaNetwork - 2024 (2).pdf
uploads/BareshaNetwork - 2024.pdf
uploads/Screenshot 2024-06-07 160822.png
/logs
access_log.csv
assets/guidaPerTatime.mp4
uploads/profile_pics/profile_6_1729156892.png
contract.pdf
token.json
partials/.env
partials/footer.php
.env
.env
partials/footer.php
*.php
*.php
partials/footer.php
partials/footer.php
partials/footer.php
