<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
  <system.web>
    <compilation tempDirectory="E:\vhosts\bareshaoffice.com\tmp"/>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401"/>
      <error statusCode="401" path="401.htm"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="403.htm"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="404.htm"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="405.htm"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="406.htm"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="412.htm"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="500.htm"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="501.htm"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="502.htm"/>
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
